
<form #form="ngForm" (ngSubmit)="getData(form.value)">

<input type="text" ngModel name="user" placeholder="Enter the Name"><br><br>
<input type="password" ngModel name="password" placeholder="Enter the Password"><br><br>
<input type="email"  ngModel name="email" placeholder="Enter the email"><br><br>

<button>Register</button>

</form>


<br>

<ul>
    <h1>USER DETAIL</h1>
    <li>this is userName:--{{Userdata.user}}</li>
    <li>this is userPassword:--{{Userdata.password}}</li>
    <li>this is userGmail:--{{Userdata.email}}</li>
</ul>